<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Page</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <h1> Create new one...!</h1>
<form method="POST" action="/user/post">
        <b>Email_Id : </b><input name="email" placeholder="enter email" required>
    <b>Id : </b><input name="id" placeholder="enter id" required>
    <b>Username : </b><input name="username" placeholder="enter username" required>
    <b>Password : </b><input name="password" placeholder="enter password" required>
    <button>Submit</button>
</form>
</body>
</html>